code.inline {
  font-family: Courier New, monospace;
  background: rgba(200, 200, 200, 0.5);
  border-radius: 0.2em;
  padding: 0.2em;
}

pre.code {
	font-size: 0.5em;
}

.step blockquote {
	width: 90%;
	font-size: 0.8em;
	text-align: justify;
	font-style: italic;
	margin: 0.5em auto;
} .step .quote-attribution {
	display: block;
	text-align: right;
	font-size: 0.7em;
}

.step h1 {
	text-align: center;
	font-size: 1.4em;
} .step h2 {
	font-weight: bold;
	margin-bottom: 0.4em;
} .step h1 + h2 {
	text-align: center;
}

.step .footnote {
	font-size: 0.7em;
	font-style: italic;
}

#alternate-titles h1 {
	position: absolute;
	top: 50%;
} #alternate-titles .field {
	opacity: 0.4;
} #alternate-titles .field li {
	display: inline-block;
	width: 48%;
	font-size: 0.8em;
}

svg {
	width: 30em;
	height: 20em;
}
svg .visualization {
	fill: #a00;
	radius: 80%;
}
svg .visualization text {
	top: 100px;
	left: 100px;
