code.inline {
  font-family: Courier New, monospace;
  background: rgba(200, 200, 200, 0.5);
  border-radius: 0.2em;
  padding: 0.2em;
}

pre.code {
	font-size: 0.5em;
}

.step blockquote {
	width: 90%;
	font-size: 0.8em;
	text-align: justify;
	font-style: italic;
	margin: 0.5em auto;
} .step .quote-attribution {
	display: block;
	text-align: right;
	font-size: 0.7em;
}

.step h1 {
	text-align: center;
	font-size: 1.4em;
} .step h2 {
	font-weight: bold;
	margin-bottom: 0.4em;
} .step h1 + h2 {
	text-align: center;
} .step h3 {
	margin-bottom: 3em;
	font-size: 0.6em;
	text-align: right;
}

.step .footnote {
	font-size: 0.7em;
	font-style: italic;
}

.step .alternate-title {
	margin-top: 2em;
	text-align: right;
	display: block;
	opacity: 0.7;
	font-size: 0.6em;
}

img.full-screen {
	max-width: 100%;
}

#d3-examples ul {
	text-align: center;
} #d3-examples li {
	display: inline-block;
} #d3-examples a {
	border: none;
	text-decoration: none;
}

#d3-chart {
	background-color: #fff;
}

#naming-is-difficult h1 {
	position: absolute;
	top: 40%;
} #naming-is-difficult .field {
	text-align: center;
	opacity: 0.4;
	margin: 0;
	padding: 0;
	white-space: no-wrap;
	line-height: 0.5em;
	white-space-collapse: discard;
} #naming-is-difficult .field li {
	display: inline;
	margin: 0;
	padding: 0;
	font-size: 0.5em;
} #naming-is-difficult .field li:after {
	content: "/";
	margin: 0 1em;
} #naming-is-difficult .field li:last-child:after {
	content: none;
	margin: 0;
}

#future-your-ideas {
	text-align: center;
} #future-your-ideas a {
	text-decoration: none;
	outline: none;
	border: none;
} #future-your-ideas .github-button {
	font-size: 1em;
}

#resources ul {
	font-size: 0.8em;
} #resources ul ul {
	margin-left: 2em;
	font-size: 0.7em;
}

svg {
	width: 100%;
	height: 11em;
} svg .vis-series1 {
	fill: #cff09e;
} svg .vis-series2 {
	fill: #a8dba8;
} svg .vis-series3 {
	fill: #3B8686;
} svg .vis-outline {
	stroke: #0b486b;
} svg .vis-text {
	fill: #0b486b;
}
